<section>
    <div class="container mt-5">
        <h1 class="text-center">ADMIN DASHBOARD</h1>

        <div class="row mt-5">
            <div class="col-md-6 p-1">
                <div class="card">
                    <h5 class="card-header">View Stats</h5>
                    <div class="card-body">
                        <h5 class="card-title">View the trends in among users</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="" class="btn btn-primary">View Stats</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 p-1">
                <div class="card">
                    <h5 class="card-header">Manage all posts</h5>
                    <div class="card-body">
                        <h5 class="card-title">Take the contol on the jobs</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Manage - Posts</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 p-1">
                <div class="card">
                    <h5 class="card-header">Manage all users</h5>
                    <div class="card-body">
                        <h5 class="card-title">Take the control of all the users</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="" class="btn btn-primary">Manage - Users</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 p-1">
                <div class="card">
                    <h5 class="card-header">Manage employers</h5>
                    <div class="card-body">
                        <h5 class="card-title">Take the control of all the employers</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="" class="btn btn-primary">Manage - Employers</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>