<section>
   <div class="container">
       <div class="row mt-4">
           <a href="/admin/add-job" class="btn btn-success ml-auto">Post New Job</a>
        </div>
       <table class="table mt-5">
           <thead>
           <tr>
               <th scope="col">#</th>
               <th scope="col">Company</th>
               <th scope="col">Title</th>
               <th scope="col">Vacancies</th>
           </tr>
           </thead>
           <tbody>
           {{#each jobs}}
           <tr>
               <th scope="row">1</th>
               <td>{{this.title}}</td>
               <td>{{this.company}}</td>
               <td>{{this.vacancies}}</td>
           </tr>
            {{/each}}
           </tbody>
       </table>
   </div>
</section>