<section>
   <div class="container">
       <table class="table">
           <thead>
           <tr>
               <th scope="col">#</th>
               <th scope="col">Company</th>
               <th scope="col">Title</th>
               <th scope="col">Vacancies</th>
           </tr>
           </thead>
           <tbody>
           <tr>
               <th scope="row">1</th>
               <td>Mark</td>
               <td>Otto</td>
               <td>@mdo</td>
           </tr>

           </tbody>
       </table>
   </div>
</section>