<header>
    <div class="container">

    </div>
    <div class="carousel-item active" style="background-image: url('/images/bgbg.jpg');">
            
          </div>

 




    
<form class="form-inline d-flex justify-content-center md-form form-sm mt-5">
  <i class="fas fa-search" aria-hidden="true"></i>
  <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
    aria-label="Search">
</form>
         
</header>
