<section>
  <div class="container mt-4">
  <div class="row">


    <div class="col-md-6">
      <h2 class="text-center">Application Form</h2>
      <form action="" method="POST" enctype="multipart/form-data">
    
    <label class="control-label col-sm-2" for="fnm">First Name</label>
    <div class="col-sm-10">
      <input type="name" class="form-control" id="fnm" placeholder="Enter Fname">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="snm">Second Name</label>
    <div class="col-sm-10">
      <input type="name" class="form-control" id="snm" placeholder="Enter Sname">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" placeholder="Enter Email">
    </div>
    <div class="form-group">
    <label class="control-label col-sm-2" for="qln">Qualification</label>
    <div class="col-sm-10">
      <input type="name" class="form-control" id="qln" placeholder="Enter Qualification">
    </div>
    <div class="form-group">
    <label for="">Image</label>
    <div class="col-sm-10">
      <input type="file" class="form-control">
    </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
</section>