<div class="container-fluid text-center">
  <h1>SERVICES</h1>
  <h4><p class="text-success">WHAT WE OFFER</p></h4>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off"></span>
      <h4><p class="text-primary"> ACHIEVEMENT </p></h4>
      <p>Get placed to your dream companies</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart"></span>
      <h4><p class="text-primary"> POWER </p></h4>
      <p>Get your financial independancy</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock"></span>
      <h4><p class="text-primary"> CAREER </p></h4>
      <p>Build your career with us</p>
      
    </div>
    </div>
    <br><br>
  
    
  </div>
</div>